.footer_component{
    padding-top: 100px;
    width: 95%;
    align-items: center;
    justify-content: space-between;
}
.footer_component h2{
    width: 95%;
    text-align: start;
}
.footer_component .form_sec{
    min-height: 300px;
    width: 90%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_component form{
    min-width: 250px;
    height: 350px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_component form input{
    width: 90%;
    height: 50px;
    background-color: rgb(41, 42, 44);
    border-radius: 10px;
    border: none;
    margin: 10px 0px 5px 0px;
    padding-left: 5px;
}
.footer_component form input::placeholder{
   font-size: .9rem;
}
.footer_component textarea{
    width: 90%;
    background-color: rgb(41, 42, 44);
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
}
.footer_component button{
    width: 90%;
    margin-top: 10px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left ,violet , rgb(63, 2, 32));
    font-size: 1rem;
    font-weight: 500;
}

.footer_component address{
   
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_component address ol{
    display: flex;
    width: 120px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}
.footer_component address ol li{
    height: 29px;
    width: 29px;
}

.footer_component address ol li img{
    border-radius: 100%;
}

