*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
    color: white;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 120px; /* Altura da barra de rolagem horizontal */
    background-color: black;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom ,rgb(252, 17, 252) , rgb(54, 1, 28)); /* Cor do thumb */
    border-radius: 10px; /* Bordas arredondadas */
    border: 3px solid #fff; /* Borda branca ao redor do thumb */
  }
  
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* for all */
.components_sub{
    width: 100%;
}
a,li{
    text-align: center;
    text-decoration: none;
    color: white;
    list-style: none;
}
a{
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
}
.name{
    background: linear-gradient(to left ,rgb(248, 12, 150) 50%, rgba(156, 6, 124, 0.726));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.bt_link{
    width: 170px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: linear-gradient(to left , rgb(240, 51, 145),rgb(168, 22, 212) );
    font-weight: 500;
}
.sobe_desce{
    animation: sobe_desce 1s 0s  infinite ease-in alternate;
}
@keyframes sobe_desce{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(10px);
    }
    
}


.secion{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
button{
    cursor: pointer;
}
.back{
    font-size: .9rem;
}
.rocho2{
    color: rgb(243, 195, 243);
}

.alt{
    height: 1px !important;
    overflow: hidden !important;
    min-height: 0px !important;
}







/* hover */
nav a:hover{
    border-bottom: 3px solid rgb(201, 10, 137);
}

.main_sub_component a:hover{
     box-shadow: 1px 1px 8px rgb(168, 3, 105);
}
.main_sub_component a:active{
    color: black;
}
.div_me_about button:hover{
    box-shadow: 1px 1px 6px rgb(185, 133, 233);
}
.div_me_about button:active{
    color: blueviolet;
}
.projet_div{
    transition: all .5s;
}
.projet_div:hover{
    transform: translateY(10px);
}
.main_sub_component_experiencias ol li{
    transition: all .4s ease-in-out;

}
.main_sub_component_experiencias ol li:hover{
    transform: translateY(-10px);
    background-color: rgb(76, 77, 77);
}
.main_sub_component_components_qualidades ol li{
    transition: all .4s ease-in-out;
}
.main_sub_component_components_qualidades ol li:hover{
    background-color: rgb(41, 40, 40);
    transform: translateY(10px);
}










